@charset "ISO-8859-1";

body {
  background-color: #e8ebed;
}


a{
  color: #242623;
  font-size: 105%;
}

h1{
	
  	margin-top: 30px;
  	margin-bottom: 40px;
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
}

h2{
	font-family: 'Georgia', cursive;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}

h3{
	font-family: 'Georgia', cursive;
	font-size: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}
.center-text {
    text-align: center;
    margin-bottom: 50px;
}
form {
    display: inline-block;
}
.active a{
    background-color: #e8ebed;
    font-size: 105%;
}

p{
  position: relative;
  top: 100px;  
  margin-left: 350px;	
}

td {
  padding: 20px;
  text-align: center;
}
th {
  padding: 20px;
  text-align: center;
  background-color:#000000;
  color: white;
  cursor: pointer;
}
tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #ffffff}

.column {
  float: left;
  width: 33.33%;
}

.activeNav {
   background-color: #d3d9e5;
}

.form-control.is-valid {
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8… 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc354…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E);
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
